:host {
  display: flex;
  flex: 3;
  flex-direction: row;
}

.container {
  display: flex;
  flex: 1;
}

.list-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  border: 1px solid gray;
}

.cards-container {
  display: flex;
  flex-direction: column;
  flex: 3;
}
